body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    width: 300px;
    gap: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Adicione o estilo para o contêiner de resultados */
.resultado-container {
    max-height: 300px; /* Ajuste conforme necessário */
    overflow-y: auto;
    border: 1px solid #ccc; /* Adicione uma borda para delimitar o contêiner */
    padding: 10px;
}

#resultado-lista {
    list-style: none;
    padding: 0;
}

#resultado-lista li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 8px;
    border-radius: 3px;
}